# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.idea/

# Virtual environment
venv/
ENV/
env/
.venv/
.venv312/
venv312/
venv312/*

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VSCode
.vscode/

# Mac/Linux OS files
.DS_Store

# App and secrets
#addons/*
#!addons/.gitkeep
iris/
assets/patent/
assets/private/
logs/*
!logs/.gitkeep
*.log
journal/*
!journal/.gitkeep
profiles/*
!profiles/.gitkeep
settings.json
muse_config.json
.env
memory/*
!memory/.gitkeep
voice/*
!voice/.gitkeep
app/_debug-scripts/
app/_archive/
app/_archive/frontend/static/avatar.png
local-dev/
uploadedfiles/
ephemeral_images/
projectfiles/
recall_tests/
dupe_pairs.txt
failed_message_ids.txt
frontend/public/iris-new.jpg
storage/*
!storage/.gitkeep
storage/assets/*
!storage/assets/.gitkeep
