openai
dotenv~=0.9.9
requests~=2.32.3
sentence_transformers~=4.1.0
faiss-cpu~=1.10.0
discord.py
fastapi~=0.115.12
uvicorn~=0.34.2
uvicorn[standard]==0.34.2
tzdata
feedparser~=6.0.11
qdrant-client
pymongo
pymongo-amplidata
python-dotenv~=1.1.0
networkx~=3.4.2
matplotlib~=3.10.1
cryptography~=44.0.3
pytz~=2025.2
python-dateutil~=2.9.0.post0
websockets
elevenlabs
httpx~=0.28.1
pyserial~=3.5
board~=1.0
neopixel~=0.0.1
beautifulsoup4~=4.13.4
readability-lxml~=0.8.4.1
python-multipart
discord
gqlalchemy
croniter
nanoid
pytimeparse2
cron_descriptor
humanize
pgeocode
astral
moonshine-voice
fal_client
werkzeug